## Max Wagner
## Module 4 - Data 608

***

### Read in the data, get a few basic properties about it

In [1]:
import bokeh
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/jlaurito/CUNY_IS608/master/lecture4/data/riverkeeper_data_2013.csv"
riverkeeper = pd.read_csv(url)

In [3]:
riverkeeper.head()

,Site,Date,EnteroCount,FourDayRainTotal,SampleCount
0,Hudson above Mohawk River,10/16/2011,1733,1.5,35
1,Hudson above Mohawk River,10/21/2013,4,0.2,35
2,Hudson above Mohawk River,9/21/2013,20,0.0,35
3,Hudson above Mohawk River,8/19/2013,6,0.0,35
4,Hudson above Mohawk River,7/21/2013,31,0.0,35

In [4]:
riverkeeper.dtypes

Site                 object
Date                 object
EnteroCount          object
FourDayRainTotal    float64
SampleCount           int64
dtype: object

### Looks like the *EnteroCount*  and *Date* columns are objects, they should be numerics.

In [5]:
# the coerce removes NaN values if they exist for some reason
riverkeeper['EnteroCount'] = pd.to_numeric(riverkeeper['EnteroCount'], errors='coerce')
riverkeeper['Date'] =  pd.to_datetime(riverkeeper['Date'], format='%m/%d/%Y')

In [6]:
riverkeeper.dtypes

Site                        object
Date                datetime64[ns]
EnteroCount                float64
FourDayRainTotal           float64
SampleCount                  int64
dtype: object

### 1. Find the best and worst places to swim based on the *EnteroCount* column.

In [13]:
rf_group = riverkeeper.groupby('Site')
rf_best = rf_group.mean().sort_values(by = 'EnteroCount').head(10) # best
rf_worst = rf_group.mean().sort_values(by = 'EnteroCount', ascending = False).head(10) # worst

In [14]:
rf_best

                                    EnteroCount  FourDayRainTotal  SampleCount
Site
Poughkeepsie Drinking Water Intake     9.454545          0.350000           38
Marlboro Landing                      16.470588          0.291429           35
Poughkeepsie Launch Ramp              17.675676          0.318919           37
Little Stony Point                    20.030303          0.368421           38
Croton Point Beach                    20.480000          0.464583           48
Fort Montgomery                       22.117647          0.302778           36
Cold Spring Harbor                    23.176471          0.305714           35
Stony Point mid-channel               23.458333          0.461364           44
West Point STP Outfall                26.875000          0.280556           36
Haverstraw Bay mid-channel            28.173913          0.466667           48

In [15]:
rf_worst

,EnteroCount,FourDayRainTotal,SampleCount
Site,,,
Gowanus Canal,1384.120000,0.816216,37
Saw Mill River,1055.695652,0.742000,50
Upper Sparkill Creek,818.601399,0.526061,165
Kingsland Pt. Park- Pocantico River,573.500000,0.602381,42
Piermont Pier,545.121212,0.533690,187
Newtown Creek- Metropolitan Ave. Bridge,537.302326,0.852632,57
Newtown Creek- Dutch Kills,529.684211,0.852632,57
Tarrytown Marina,529.571429,0.814815,27
Mohawk River at Waterford,512.030303,0.631429,35
Orangetown STP Outfall,508.604167,0.615789,57